# Created by https://www.toptal.com/developers/gitignore/api/xilinxvivado
# Edited by Bahar Kaviani

### XilinxVivado ###
###########################################################################
#Exclude all
*
!*/
!.gitignore
###########################################################################
##	VIVADO
#Source files:
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v

#Constraint files
#Do NOT ignore *.xdc files
!*.xdc

##	Unnecessary Files
#Tutorial:
#Ignore files in Tutorial directory.
Tutorial/

# End of .gitignore